<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/element-ui.css">
    <script src="/public/js/vue.js"></script>
    <script src="/public/js/element-ui.js"></script>
</head>

<body>
    <div id="app">
        
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })
</script>

</html>